  body {
    position        : relative; 
    padding-top: 80px;
  }
  
/*  .navbar{
    height: 40px;
  }*/

  div.jumbotron {
    margin          : 0;
    text-align      : center;
    /*padding-top     : 150px;*/

  }
  
  .scrollable-menu {
    height      : auto;
    max-height: 400px;
    overflow-x      : hidden;
  }

  .progress {height: 10px;}

  .btn {
    margin-top: 12.5px;
  }

  #center{
    margin-left: 15%;
  }


  /*=======================================
  Analytics Section
  =========================================*/

  #section1 {
    padding     :30px;
    height          :auto;
    min-height      : auto;
    margin: auto;
    width : 90%;
  }
  
  div.well_analytics{
    margin: auto;
    text-align: center;
  }

  #fluid {
    color           : #000;
    padding: 15px;
  }

  /*=======================================
  Patient Info section
  =========================================*/

  #section2 {
    padding-top     :10px;
    min-height      :900px;
    max-height: 1100px;
    height          :auto;
  }
  
  .pager {
    width: 100%;
    margin: auto;
  }

  #patientname{
    font-size: 30px;
  }


  .img-responsive {
    width: 50%;
    margin: auto;
  }

  /*#patients {
    color           : #000;
  }*/

  #collapse1{
    height      : auto;
    max-height: 330px;
    overflow-x      : hidden;
    margin : auto;
  }

  #Documents{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .pdfobject-container { height: 800px;}
  .pdfobject { border: 1px solid #666; }

  /*=======================================
  Footer
  =========================================*/
  #footer {
    text-align      :center;
    padding         :5px; 
  }

  #progress {
    height: 300px; 
    width: 50%;
    margin: 0 auto;
  }